:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0 9rem; */
}

@media (max-width: 700px) {
  body{
    margin: 0;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container{
  padding: 3rem 9rem;
}

@media (max-width: 700px){
  .container{
    padding: 1rem;
  }
}
.css-z6abfx-MuiInputBase-root-MuiInput-root-MuiSelect-root::before{
  border-bottom: 0 !important;
}

.css-1onselz-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  font-size: 12px !important;
}

.doughnut-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #ffd700, #ff8c00);
}

.doughnut {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: conic-gradient(from 180deg, transparent 50%, #fff 50%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.doughnut:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #fff;
}

.doughnut-tl {
  top: -100px;
  left: -100px;
}

.doughnut-br {
  bottom: -100px;
  right: -100px;
}

.css-8k6bqc-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #ffbb00 !important;
  border: 1px solid rgb(255 255 255 / 50%) !important;
  background-color: rgb(255 255 255) !important;
}
.css-8k6bqc-MuiButtonBase-root-MuiPaginationItem-root{
  color: white !important;
  border: 1px solid white !important;
}

.css-eorpq6-MuiCircularProgress-circle{
  /* stroke: #0a0a0a; */
}

.type-chip {
  padding: 7px 25px;
  border-radius:25px;
  background-color: gray;
  color: white !important;
  font-size: 16px;
}

.btn-primary{
  color: white;
  background-color: rgba(230, 171, 9, 1);
  padding: 10px 25px;
  border-radius: 14px;
}
.half-doughnut {
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(
      from 180deg,
      transparent 180deg,
      #3498db 180deg
  );
}

.half-doughnut::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.top-left {
  width: 400px;
  height: 400px;
  bottom: -40rem;
  left: -200px;
}

.center-right {
  border-radius: 100%;
  width: 500px;
  height: 500px;
  top: 85%;
  right: -315px;
  transform: translateY(-50%);
  background: #3498db;
}